<div class="container">
  <br />
  <%= form_for @design, validate:true do |f|%>
    <div class="field">
      <%= f.text_field :name, placeholder:"请输入一个标题..", validate:{presence:true}%>
    </div>
    <div class="field">
      <%= f.text_area :description, placeholder:"在此输入内容..."%>
    </div>
    <div class="actions">
      <%= f.submit "创建", class:"btn", disable_with:"正在提交..."%>
    </div>
  <% end %>
</div>
