<div class="container">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total Price</th>
    </tr>
    <% @cart.line_items.each do |line_item|%>
      <tr>
        <td>
          <%= line_item.listing.titile %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
