<table class="table">
  <tr>
    <th>总数</th>
    <th>已提交</th>
    <th>审核通过</th>
  </tr>
  <tr>
    <td><%=@designs.count%></td>
    <td></td>
    <td></td>
  </tr>
</table>
<%= link_to "增加设计", new_design_path %>
